<div class="singUpForm">
	<div class="setBackColor">

			<div class="row addSpacing">
				<div class="col-md-1"></div>
				<div class="col-md-10"><b>LOGIN</b></div>
			</div>
			<div class="row addSpacing">
				<div class="col-md-1"></div>
				<div class="col-md-10"><input type="text"  class="form-control" placeholder="Email id" ng-model="userName"></div>

			</div>
			<div class="row addSpacing">
				<div class="col-md-1"></div>
				<div class="col-md-10"><input type="password"  class="form-control" placeholder="password" ng-model = "password"></div>
			</div>
			
			<div class="row addSpacing changeColor">
				<div class="col-md-1"></div>
				<div class="col-md-10"><input type="text"  class="form-control"  ng-model = "message"></div>
			</div>

			<div class="row addSpacing">
				<div class="col-md-1"></div>
				<div class="col-md-10"><button type="button" class="btn btn-primary btn-primary1" ng-click="validateLogin()">Continue</button></div>
			</div>

	</div>
	
</div>